/* .slick-prev:before, .slick-next:before {

    color: gray !important;
    font-size: 3rem !important;
} */
/* .slick-arrow .slick-prev{
    color: gray !important;
    font-size: 3rem !important;

} */
/* .slick.arrow.slick.prev button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.button2{
    display: inline-block;
    padding: 15px 50px;
} */

/* .slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
.width-item {
    width: 100%  !important;
} */
/* .glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }
.active_Film {
    @apply dark:bg-gray-800 dark:text-gray-800;
}

.none_active_Film {
    @apply dark:bg-white dark:text-gray-800;

} */




