.slick-prev svg{
    color: white;
}
.slick-next svg{
    color: white;
}
.DC button{
    outline: none;
}
.slick-prev{
   position: absolute;
   margin-right: 90%;
   top: 100%;
   left: 0;
   margin-left: 500px;
   transform: translateY(-50%);
   font-size: 20px;
   border: none;
   z-index: 5;
   padding: 10px 28px;
   transition: all 0.2s linear;
   border-radius: 3px;
    display: inline-block;
    padding: 8px 30px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(162, 156, 156, 0.475);
  border: 2px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.slick-next{
    position: absolute;
    margin-left: 90%;
    top: 100%;
    right: 0;
    margin-right: 500px;
    transform: translateY(-50%);
    font-size: 20px;
    border: none;
    z-index: 5;
    padding: 10px 28px;
    transition: all 0.2s linear;
    border-radius: 3px;
 display: inline-block;
   padding: 8px 30px;
   border: 0;
   text-decoration: none;
   border-radius: 15px;
   background-color: rgba(162, 156, 156, 0.475);    
  border: 2px solid rgba(255,255,255,0.1);
   backdrop-filter: blur(30px);
   font-size: 14px;
   letter-spacing: 2px;
   cursor: pointer;
   text-transform: uppercase;
   
}

.slick-prev:hover{
    /* background-color: rgb(215, 32, 63); */
    background-color: rgba(229, 222, 222, 0.68);
    /* border: 1.4px solid rgb(226, 138, 106); */
    
}
.slick-next:hover{
    /* background-color: rgb(215, 32, 63); */
    background-color: rgba(229, 222, 222, 0.68);
    /* border: 1.4px solid rgb(226, 138, 106); */
  
}


